<div class="row">
  <div class="row-item"><%= link_to monster.name, edit_monster_path(monster) %></div>
  <div class="row-item"><%= monster.cp %></div>
  <div class="row-item"><%= monster.monster_type %></div>
  <div class="row-item"><%= monster.weight %></div>
  <div class="row-item"><%= monster.height %></div>
  <div class="row-item"><%= %></div>
</div>